/*

Typical Device Break Points
---------------------------
Pequenas telas: até 600px;
Celular: de 600px até 768;
Tablet: 768px até 992px;
Desktop: 992px até 1200px;
Grandes telas: acima de 1200px;

*/

/*
PALETA DE CORES
Verde: #49a09d
Lilás: #5f2c82
*/


@media screen and (min-width:768px) and (max-width:992px){
  body, html{
    background-image: linear-gradient(#5f2c82,#5f2c82,#49a09d );
    }
  
  #login{
    width: 80vw;
  }

  #login > #imagem{
     float: left;
     width: 30%;
     height: 100%;
  }

  #login > #formulario{
    float: right;
    width: 70%;
  }

  .campo{
    background-color: #5f2c82;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
  }
  
  label {
    display: none;
  }

  i.material-icons{
    color: #FFF;
    margin-left: 20px;
   }

  input[type=email]{
    text-align: center;
    width:300px;
    margin-left: 30px;
  }

  input[type=password]{
    text-align: center;
    width:300px;
    margin-left: 30px;
  }
  

  input[type=submit]{
    display: block;
    font-size: 1em;
    width: 90%;
    height: 40px;
    margin: auto;
    margin-top: 10px;
    background-color: #49a09d;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover{
    background-color: #8de3e0;
    cursor: pointer;
    color: #174240;
    font-weight: bold;
  }
  
  a.botao{
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 2px;
    width: 90%;
    color: #174240;
    height: 40px;
    background-color: #5cc0bd;
    border: 1px solid #5cc0bd;
    text-decoration: none;
    border-radius: 5px;
  }
  
  a.botao:hover{
    background-color: #377775;
    color: #FFF;
  }
  
  a.botao > i {
    font-size: 0.8em;
  }
  
}

@media screen and (min-width:992px) and (max-width:1200px){
  body, html{
  background-image: linear-gradient(#5f2c82,#5f2c82,#49a09d );
  }

  #login{
    width: 950px;
  }

  #login > #imagem{
    float: right;
    width: 50%;
    height: 100%;
  }

  #login > #formulario{
    float: left;
    width: 50%;
  }

  #formulario > h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
  }

  #formulario > p{
    font-size: 1.2em;
  }

  .campo{
    background-color: #5f2c82;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
  }
  
  label {
    display: none;
  }

  i.material-icons{
    color: #FFF;
    margin-left: 20px;
  }

  input[type=email]{
    text-align: center;
    width:300px;
    margin-left: 30px;
  }

  input[type=password]{
    text-align: center;
    width:300px;
    margin-left: 30px;
  }
  

  input[type=submit]{
    display: block;
    font-size: 1em;
    width: 90%;
    height: 40px;
    margin: auto;
    margin-top: 10px;
    background-color: #49a09d;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover{
    background-color: #8de3e0;
    cursor: pointer;
    color: #174240;
    font-weight: bold;
  }
  
  a.botao{
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 2px;
    width: 90%;
    color: #174240;
    height: 40px;
    background-color: #5cc0bd;
    border: 1px solid #5cc0bd;
    text-decoration: none;
    border-radius: 5px;
  }
  
  a.botao:hover{
    background-color: #377775;
    color: #FFF;
  }
  
  a.botao > i {
    font-size: 0.8em;
  }
  
  
}


@media screen and (min-width:1200px) {
  body, html{
    background-image: linear-gradient(#5f2c82,#5f2c82,#49a09d );
    }
  
  #login{
    width: 950px;
  }

  #login > #imagem{
    float: right;
    width: 50%;
    height: 100%;
  }

  #login > #formulario{
    float: left;
    width: 50%;
  }

  #formulario > h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
  }

  #formulario > p{
    font-size: 1.2em;
  }

  .campo{
    background-color: #5f2c82;
    padding: 3px;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
  }
  
  label {
    display: none;
  }

 i.material-icons{
  color: #FFF;
  margin-left: 20px;
 }

  input[type=email]{
    text-align: center;
    width:300px;
    margin-left: 30px;
  }

  input[type=password]{
    text-align: center;
    width:300px;
    margin-left: 30px;
  }
  
  input[type=submit]{
    display: block;
    font-size: 1em;
    width: 90%;
    height: 40px;
    margin: auto;
    margin-top: 10px;
    background-color: #49a09d;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover{
    background-color: #8de3e0;
    cursor: pointer;
    color: #174240;
    font-weight: bold;
  }
  
  a.botao{
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 2px;
    width: 90%;
    color: #174240;
    height: 40px;
    background-color: #5cc0bd;
    border: 1px solid #5cc0bd;
    text-decoration: none;
    border-radius: 5px;
  }
  
  a.botao:hover{
    background-color: #377775;
    color: #FFF;
  }
  
  a.botao > i {
    font-size: 0.8em;
  }
  
  
}